# Environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Local Databases (Memory)
*.db
*.sqlite3

# Large files, downloads
*.gguf
*.aria2
wget-log

# Media files (Ignore all EXCEPT assets folder)
*.png
*.jpg
*.jpeg
!assets/
!assets/**
